<?xml version="1.0" encoding="UTF-8"?>
<!--
web.xml - deployment descriptor for the web text editor
Copyright (C) 2016 Kaz Nishimura

Copying and distribution of this file, with or without modification,
are permitted in any medium without royalty provided the copyright
notice and this notice are preserved.  This file is offered as-is,
without any warranty.
-->
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>
